.listName{
    font-size: 1.5rem;
}
.productContainer{
    display: flex;
    flex-direction: row;
}
.showMore{
    float: right;
    width: 206px;
    border: 1px solid #ACACACFF;
    padding: 8px 0;
    margin: 0;
    text-align: center;
}
.showMore a{
    text-decoration: none;
}